---
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="Be My Valentine" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=JetBrains+Mono:wght@700&family=Inter:wght@400;500;600&display=swap"
      rel="stylesheet"
    />
    <title>Be My Valentine</title>
  </head>
  <body
    class="m-0 min-h-screen overflow-hidden p-0"
    style="font-family: 'Inter', sans-serif;"
  >
    <slot />
  </body>
</html>
